*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.code{
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    background-color: rgb(62, 64, 187);
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 33%;
    outline: 0;
    border: 0;
    background-color: rgb(62, 64, 187);
    resize: none;
    padding: 12px;
    color: whitesmoke;
    border: 0px;
    font-size: 18px;

    &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: whitesmoke;
    }
}

label{
    background-color: rgba($color: #000000, $alpha: 0.8 );
    color: white;
    width: 100%;
    padding: 10px 62px;
    border-top: 1px solid rgb(101, 101, 209);
    border-radius: 50px 50px 0 0;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

i{
    font-size: 25px;
    
}
button{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}
iframe {
    width: 60%;
    border: 0;
    color: black;
}